<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>
    {% include header.html %}

    <main id="main">
      {{ content }} 
    </main>
    
    
    {% include footer.html %}
    
    {% include scripts.html %}

  </body>
</html>
