<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{site.title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href={{"assets/img/favicon.png" | relative_url}} rel="icon">
  <link href={{"assets/img/apple-touch-icon.png" | relative_url}} rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href={{"assets/vendor/aos/aos.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/bootstrap-icons/bootstrap-icons.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/boxicons/css/boxicons.min.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/glightbox/css/glightbox.min.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/remixicon/remixicon.css" | relative_url}} rel="stylesheet">
  <link href={{"assets/vendor/swiper/swiper-bundle.min.css" | relative_url}} rel="stylesheet">

  <link href={{"assets/css/style.css" | relative_url}} rel="stylesheet">
</head>
