<!-- Vendor JS Files -->
<script src={{"assets/vendor/aos/aos.js" | relative_url }}></script>
<script src={{"assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}></script>
<script src={{"assets/vendor/glightbox/js/glightbox.min.js" | relative_url }}></script>
<script src={{"assets/vendor/isotope-layout/isotope.pkgd.min.js" | relative_url }}></script>
<script src={{"assets/vendor/swiper/swiper-bundle.min.js" | relative_url }}></script>
<script src={{"assets/vendor/waypoints/noframework.waypoints.js" | relative_url }}></script>
<script src={{"assets/vendor/php-email-form/validate.js" | relative_url }}></script>

<!-- Template Main JS File -->
<script src={{"assets/js/main.js" | relative_url }}></script>